[submodule "MachineLearning/HHMachineLearning/talos"]
	path = MachineLearning/HHMachineLearning/talos
	url = git@github.com:FlorianBury/talos.git
[submodule "MachineLearning/ml-models"]
	path = MachineLearning/ml-models
	url = https://gitlab.cern.ch/cms-hh-bbww/ml-models.git
[submodule "Datacards/BambooDatacardProducer"]
	path = Datacards/BambooDatacardProducer
	url = git@github.com:FlorianBury/BambooDatacardProducer.git
